<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLPB"
            sequence="0"/>
          
        <menuitem name="Quản lý phòng ban" 
            id="menu_phong_ban" 
            parent="menu_root" 
            sequence="1"
            action="action_phong_ban"
        />
    </data>
</odoo>
