<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_project_root"
            name="Quản lý Dự Án"
            sequence="0" />

        <menuitem
            id="menu_project"
            name="Quản lý Dự án"
            parent="menu_project_root"
            sequence="1"
            action="action_project"
        />

        <menuitem id="menu_task"
            name="Quản lý Nhiệm vụ"
            parent="menu_project_root"
            sequence="1"
            action="action_task" />

        <menuitem
            id="menu_project_log"
            name="Nhật ký hoạt động"
            parent="menu_project_root"
            sequence="1"
            action="action_project_log"
        />
        <menuitem
            id="menu_purchase_root"
            name="Quản lý Mua hàng"
            parent="menu_project_root"
            sequence="2" />

        <menuitem
            id="menu_purchase_order"
            name="Yêu cầu mua hàng"
            parent="menu_purchase_root"
            sequence="1"
            action="action_purchase_order"
        />

        <menuitem
            id="menu_supplier"
            name="Quản lý Nhà cung cấp"
            parent="menu_purchase_root"
            sequence="2"
            action="action_supplier"
        />

        <menuitem
            id="menu_material_inventory"
            name="Tồn kho vật tư"
            parent="menu_purchase_root"
            sequence="3"
            action="action_material_inventory"
        />
    </data>
</odoo>