<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem 
            id="menu_project_root" 
            name="Quản lý Dự Án" 
            sequence="0"/>

        <menuitem 
            id="menu_project" 
            name="Quản lý Dự án" 
            parent="menu_project_root" 
            sequence="1" 
            action="action_project"
        />

        <menuitem 
            id="menu_task" 
            name="Quản lý Công việc" 
            parent="menu_project_root" 
            sequence="1" 
            action="action_task"
        />

        <menuitem 
            id="menu_employee" 
            name="Quản lý Nhân viên" 
            parent="menu_project_root" 
            sequence="1" 
            action="nhan_su.action_nhan_vien"
        />
    </data>
</odoo>
